<form action="/sign-up" method="post">
  <div class="form-group">
      <label for="firstName">First Name:</label>
      <input name="firstName" class="form-control" placeholder="first name"/>
  </div>
  <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input name="lastName" class="form-control" placeholder="last name"/>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input name="email" class="form-control" placeholder="email"/>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input name="password" class="form-control" placeholder="password"/>
    </div>
  <div class="text-right">
    <button type="submit" class="btn btn-primary" name="button">Create Account</button>
  </div>
</form>